.nav {
	grid-area: n;
	background-color: #fff;
	padding: 5px;
	border-radius: 20px;
	margin-top: 10px;
}

.navItem{
	margin-bottom: 10px;
}

.navItem a {
	text-decoration: none;
	color: black;
}

.navItem a.active {
	text-decoration: none;
	color: #dd4b39;
}

