.profileInfo {
	display: flex;

}

.userInfo {
	margin-top: 10px;
	width: 60%;
	background: rgb(221, 75, 57, 0.06);
	width: 60%;
	padding: 20px;
	border-radius: 20px;
}

.avatar{
	margin-top: 10px;
	width: 200px;
	margin-right: 20px;
	background: rgb(221, 75, 57, 0.06);
	padding: 20px;
	border-radius: 20px;
	height: 100%;
}
.avatar img {
	width: 200px;
	height: 200px;
	margin-right: 30px;
}

.fullName {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.aboutMe {
	margin-bottom: 10px;
}

.aboutMe span {
	font-weight: bold;
}

.contacts span {
	font-weight: bold;
}

.contacts a {
	margin-bottom: 5px;
	text-decoration: none;
	color: black;
}

.contactItems {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.jobItems {
	margin-bottom: 10px;
}

.job span {
	font-weight: bold;
}
