.dialogs {
	display: grid;
	grid-template-columns: 3fr 7fr;
}

.dialogItems {
	padding-left: 10px;
	padding-right: 10px;
	color: black;
}

.dialogItems .active {
	color: #dd4b39;
}

.messages {
	padding-left: 10px;
	padding-right: 10px;
}

.addMessage {
	margin-top: 30px;
}

.dFlex{
	display: flex;
	flex-direction: column;
}
